:root {
  --yellow: #ffe400;
  --bgLightGreen: #69d100;
  --bgDarkGreen: #158100;
  --bgDarkPurple: #7e0096;
  --bgLightPink: #ff00ff;
  --cyan: #00ffff;
  --leftMargin: 60px;
  --gridCellSize: 40px;
}
@font-face {
  font-family: "retro_gamingregular";
  src: url("assets/webfont-kit/retro_gaming-webfont.woff2") format("woff2"),
    url("assets/webfont-kit/retro_gaming-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "retro_gamingregular";
  background-color: var(--bgDarkPurple);
  color: var(--yellow);
}
button {
  background-color: var(--bgLightPink);
  font-family: "retro_gamingregular";
  border-radius: 4px;
  cursor: pointer;
  color: var(--bgLight);
  font-size: 14px;
  padding: 7px 12px;
  margin: 15px 0;
  text-decoration: none;
  border: none;
  width: fit-content;
}
button:hover {
  background-color: var(--bgDarkGreen);
}

h1 {
  font-size: 35px;
}
#header {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-content: center;
}
#header:hover #noRotateB {
  animation: moving 3s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}
#header:hover #rotateB {
  transform-origin: center center;
  animation: spin 3s cubic-bezier(0.8, 0, 0.2, 1) infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes moving {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.container {
  display: flex;
}
.mainWrapper {
  margin: auto;
  width: fit-content;
}
.overlay {
  width: calc(16 * var(--gridCellSize));
  height: calc(16 * var(--gridCellSize));
  /* margin-left: var(--leftMargin); */
  margin: 20px;
}
#game-set-up {
  /* background-color: var(--bgLightPink); */
  border: 5px dotted var(--bgLightPink);
  position: absolute;
  width: 30vw;
  padding: 30px;
}
.grid-p1 {
  width: calc(16 * var(--gridCellSize));
  height: calc(16 * var(--gridCellSize));
  display: flex;
  flex-wrap: wrap;
}
.grid-p2 {
  width: calc(16 * var(--gridCellSize));
  height: calc(16 * var(--gridCellSize));
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  width: var(--gridCellSize);
  height: var(--gridCellSize);
  background-repeat: no-repeat;
  background-size: var(--gridCellSize) var(--gridCellSize);
}

.land {
  background-image: url(./assets/ground/greengrass.jpg);
}

.waste {
  background-image: url(./assets/toxic/pinkgrass.jpg);
}

.buttonHolder {
  margin: 0;
  /* width: 500px; */
  display: flex;
  flex-direction: column;
}
.hidden-info {
  margin: 20px;
}
.instructions {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}
#instruct {
  margin: 5px;
  width: calc(0.75 * var(--gridCellSize));
  height: calc(0.75 * var(--gridCellSize));
  background-image: url(./assets/instruction.png);
  object-fit: fill;
}
#key {
  margin: 5px;
  width: calc(0.75 * var(--gridCellSize));
  height: calc(0.75 * var(--gridCellSize));
  background-image: url(./assets/key.png);
  object-fit: fill;
}
.p1-grid-display {
  /* width: calc(16 * var(--gridCellSize)); */
  height: auto;
  /* margin: 20px; */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* background-color: yellow; */
}

.p2-grid-display {
  /* width: calc(16 * var(--gridCellSize)); */
  height: auto;
  /* margin: 20px; */
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* background-color: yellow; */
}

.p1-destroyer-container {
  width: calc(2 * var(--gridCellSize));
  height: var(--gridCellSize);
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}
.p1-destroyer-container-vertical {
  width: var(--gridCellSize);
  height: calc(2 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-submarine-container {
  width: calc(3 * var(--gridCellSize));
  height: var(--gridCellSize);
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p1-submarine-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-cruiser-container {
  width: calc(3 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p1-cruiser-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-battleship-container {
  width: calc(4 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p1-battleship-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(4 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-carrier-container {
  width: calc(5 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p1-carrier-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(5 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-destroyer-container {
  width: calc(2 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}
.p2-destroyer-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(2 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-submarine-container {
  width: calc(3 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p2-submarine-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-cruiser-container {
  width: calc(3 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p2-cruiser-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-battleship-container {
  width: calc(4 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p2-battleship-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(4 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-carrier-container {
  width: calc(5 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
}

.p2-carrier-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(5 * var(--gridCellSize));
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ship div {
  width: calc(1 * var(--gridCellSize));
  height: 4calc (1 * var(--gridCellSize)) 0px;
}

.destroyer {
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  object-fit: contain;
}

.submarine {
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  object-fit: contain;
}

.cruiser {
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  object-fit: contain;
}

.battleship {
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  object-fit: contain;
}

.carrier {
  background-image: url(./assets/ground/greencat.jpg);
  background-size: var(--gridCellSize) var(--gridCellSize);
  background-color: var(--bgLightPink);
  object-fit: contain;
}
.entangled {
  /* background-color: grey; */
  background-image: url(./assets/ground/greenent.jpg);
  object-fit: contain;
}
.hide {
  background-image: url(./assets/ground/greengrass.jpg);
  object-fit: contain;
}
.boom {
  z-index: 3;
  /* background-color: red; */
  background-image: url(./assets/ground/greensquish.jpg);
  object-fit: contain;
}

.miss {
  /* background-color: black; */
  background-image: url(./assets/ground/greenmiss.jpg);
  object-fit: contain;
}
