:root {
  --bgLight: #81c2ff;
  --bgMed: #1f26b4;
  --bgDark: #060841;
  --destroyer: #00abe9;
  --submarine: #3e509c;
  --cruise: #81589d;
  --battleship: #b65899;
  --carrier: #dd8db5;
  --leftMargin: 60px;
  --gridCellSize: 40px;
}
body {
  font-family: Poppins, sans-serif;
  background-color: #81c2ff;
  color: #1f26b4;
}
button {
  background-color: var(--bgMed);
  border-radius: 4px;
  cursor: pointer;
  color: var(--bgLight);
  font-size: 12px;
  padding: 7px 12px;
  margin: 10px auto;
  text-decoration: none;
  border: none;
}
button:hover {
  background-color: var(--bgDark);
}

select {
  background-color: var(--bgMed);
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  color: var(--bgLight);
  font-size: 12px;
  padding: 7px 12px;
  text-decoration: none;
  border: none;
}

h1 {
  text-align: center;
}
#game-set-up {
  position: absolute;
  width: 40vw;
  padding: 50px;
}
.container {
  display: flex;
}
.mainWrapper {
  margin: auto;
  width: fit-content;
}
.overlay {
  width: calc(16 * var(--gridCellSize));
  height: calc(16 * var(--gridCellSize));
  /* margin-left: var(--leftMargin); */
  margin: 20px;
}

.grid-p1 {
  width: calc(16 * var(--gridCellSize));
  height: calc(16 * var(--gridCellSize));
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  background-image: url(./assets/ocean.jpg);
  /* margin-left: var(--leftMargin);
  margin: 20px; */
}

.grid div {
  width: var(--gridCellSize);
  height: var(--gridCellSize);
}

.grid-p2 {
  width: calc(16 * var(--gridCellSize));
  height: calc(16 * var(--gridCellSize));
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  background-image: url(./assets/ocean.jpg);
  /* margin: 20px; */
}
.buttonHolder {
  margin: 0;
  /* width: 500px; */
  display: flex;
  flex-direction: column;
}
.hidden-info {
  margin: 20px;
}
.instructions {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
}
#instruct {
  margin: 5px;
  width: calc(0.75 * var(--gridCellSize));
  height: calc(0.75 * var(--gridCellSize));
  background-image: url(./assets/key.png);
  object-fit: fill;
}
#key {
  margin: 5px;
  width: calc(0.75 * var(--gridCellSize));
  height: calc(0.75 * var(--gridCellSize));
  background-image: url(./assets/key.png);
  object-fit: fill;
}
.p1-grid-display {
  width: calc(16 * var(--gridCellSize));
  height: auto;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* background-color: yellow; */
}

.p2-grid-display {
  width: calc(16 * var(--gridCellSize));
  height: auto;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  /* background-color: yellow; */
}

.p1-destroyer-container {
  width: calc(2 * var(--gridCellSize));
  height: var(--gridCellSize);
  background-image: url(./assets/boat.png);
  background-color: var(--destroyer);
  margin: 10px;
  display: flex;
}
.p1-destroyer-container-vertical {
  width: var(--gridCellSize);
  height: calc(2 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--destroyer);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-submarine-container {
  width: calc(3 * var(--gridCellSize));
  height: var(--gridCellSize);
  background-image: url(./assets/boat.png);
  background-color: var(--submarine);
  margin: 10px;
  display: flex;
}

.p1-submarine-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--submarine);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-cruiser-container {
  width: calc(3 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--cruise);
  margin: 10px;
  display: flex;
}

.p1-cruiser-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--submarine);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-battleship-container {
  width: calc(4 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--battleship);
  margin: 10px;
  display: flex;
}

.p1-battleship-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(4 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--battleship);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p1-carrier-container {
  width: calc(5 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--carrier);
  margin: 10px;
  display: flex;
}

.p1-carrier-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(5 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--carrier);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-destroyer-container {
  width: calc(2 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--destroyer);
  margin: 10px;
  display: flex;
}
.p2-destroyer-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(2 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--destroyer);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-submarine-container {
  width: calc(3 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--submarine);
  margin: 10px;
  display: flex;
}

.p2-submarine-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--submarine);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-cruiser-container {
  width: calc(3 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--cruise);
  margin: 10px;
  display: flex;
}

.p2-cruiser-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(3 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--cruise);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-battleship-container {
  width: calc(4 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--battleship);
  margin: 10px;
  display: flex;
}

.p2-battleship-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(4 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--battleship);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.p2-carrier-container {
  width: calc(5 * var(--gridCellSize));
  height: calc(1 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--carrier);
  margin: 10px;
  display: flex;
}

.p2-carrier-container-vertical {
  width: calc(1 * var(--gridCellSize));
  height: calc(5 * var(--gridCellSize));
  background-image: url(./assets/boat.png);
  background-color: var(--carrier);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.ship div {
  width: calc(1 * var(--gridCellSize));
  height: 4calc (1 * var(--gridCellSize)) 0px;
}

.destroyer {
  background-image: url(./assets/boat.png);
  background-color: var(--destroyer);
  object-fit: cover;
}

.submarine {
  background-image: url(./assets/boat.png);
  background-color: var(--submarine);
  object-fit: cover;
}

.cruiser {
  background-image: url(./assets/boat.png);
  background-color: var(--cruise);
  object-fit: cover;
}

.battleship {
  background-image: url(./assets/boat.png);
  background-color: var(--battleship);
  object-fit: cover;
}

.carrier {
  background-image: url(./assets/boat.png);
  background-color: var(--carrier);
  object-fit: cover;
}
.entangled {
  /* background-color: grey; */
  background-image: url(./assets/anchor2.png);
  object-fit: cover;
}
.hide {
  background-image: url(./assets/ocean.jpg);
  object-fit: cover;
}
.boom {
  z-index: 3;
  /* background-color: red; */
  background-image: url(./assets/boom_target.jpg);
  object-fit: cover;
}

.miss {
  /* background-color: black; */
  background-image: url(./assets/miss_ocean.jpg);
  object-fit: cover;
}
